asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
Django==5.1.5
django-allauth==65.3.1
django-markdownx==4.0.7
dj-database-url==2.1.0
idna==3.10
PyJWT==2.8.0
Markdown==3.7
pillow==11.1.0
psycopg2==2.9.10
pycparser==2.22
requests==2.32.3
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
python-dotenv==1.0.1
gunicorn==21.2.0
