{% load static %} {% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
                <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6W8HSD8C1M"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-6W8HSD8C1M');
        </script>
        <meta name="description" content="자신이 만든 토이 프로젝트 혹은 포트폴리오를 게시해보세요">
        <meta name="keywords" content="devroup,Devroup,데브룹,개발자 포트폴리오,개발 포트폴리오,코딩 포트폴리오,IT 취업 포트폴리오 예시,
                                       백엔드 포트폴리오 예시,프론트엔드 포트폴리오 예시,신입 백엔드 포트폴리오,신입 프론트엔드 포트폴리오,
                                       IT 경력 포트폴리오 샘플,토이프로젝트 아이디어,토이 프로젝트 사이트,컴공 토이프로젝트,코딩 토이프로젝트,토이프로젝트 커뮤니티,
                                       토이프로젝트 모집,개발자 사이드프로젝트,토이 프로젝트 주제,토이 프로젝트 예시">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="icon" type="image/x-icon" href="/media/logo/Devroup_NoWord_full_transparent.ico">
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Devroup - 토이 프로젝트 커뮤니티 사이트</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap"
            rel="stylesheet"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
        />

        <style type="text/css">
            body {
                font-family: 'Noto Sans KR', sans-serif;
            }

            table,
            th,
            td {
                border: 1px solid #D3D3D3;
                border-collapse: collapse;
                text-align: center;
                padding: 10px;
            }
            
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-light">
            <div class="container">
                <a
                    class="navbar-brand"
                    href="/"
                    id="brand">
                <img src="/media/logo/Devroup_Word_full_transparent.png" style="width: 150px"/>
                </a>
                
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div
                    class="collapse navbar-collapse justify-content-end"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav mb-2 mb-lg-0" style="font-weight: bold;">
                        {% if user.is_authenticated %}
                        
                        <li>
                            <a class="nav-link active" href="https://forms.gle/mQgPoKs9G4k7mtDo8"
                                >배너에 프로젝트 등록하기</a
                            >
                        </li>
                        <li>
                            <a class="nav-link active" href="{% url 'community:post_create' %}"
                                >글쓰기</a
                            >
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'user:user_profile' %}"
                                        >설정</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'user:user_posts' %}"
                                        >내가 쓴 글</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'user:user_comment_posts' %}"
                                        >내가 댓글 단 글</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'user:user_like_posts' %}"
                                        >내가 찜한 글</a
                                    >
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'account_logout' %}"
                                        >로그아웃</a
                                    >
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                >로그인</a
                            >
                        </li>
                        {% endif %}
                    </ul>
                    </div>
                    </div>

        </nav>

        {% block content %} {% endblock %}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"
        ></script>
    </body>
</html>

<!-- Modal -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그인</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-4">
                            <a class="nav-link active" href="{% provider_login_url 'google' %}">
                                <img src="/media/logo/google.png" width="100" class="rounded" />
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="nav-link active" href="{% provider_login_url 'kakao' %}">
                                <img src="/media/logo/kakao.png" width="100" class="rounded" />
                            </a>
                        </div>
                        <div class="col-4">
                            <a class="nav-link active" href="{% provider_login_url 'github' %}">
                                <img src="/media/logo/github.png" width="100" class="rounded" />
                            </a>
                        </div>
                    </div>

                    <br />
                    <div
                        class="row text-center"
                        style="font-weight: bold;"
                    >
                        <div class="col-4">
                            구글 로그인
                        </div>
                        <div class="col-4">
                            카카오 로그인
                        </div>
                        <div class="col-4">
                            깃허브 로그인
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>