{% extends 'community/base.html' %} {% block content %}
<br /><br /><br />
<div class="container">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <label for="title" class="form-label" style="font-weight: 1000;">제목<span style="color: #FF0000">*</span></label>
                <input class="form-control" type="text" name="title" id="title" placeholder="제목을 입력해주세요" value="{{ post.title }}" />
                
                <br />
                
                <label for="github_address" class="form-label" style="font-weight: 1000;">github 주소</label>
                <input class="form-control" type="url" name="github_address" id="github_address" placeholder="해당 프로젝트의 github 주소를 입력해주세요" value="{{ post.github_address }}" />
                
                <br />

                <label for="content" class="form-label" style="font-weight: 1000;">내용<span style="color: #FF0000">*</span></label>
                <textarea
                    class="form-control"
                    type="content"
                    name="content"
                    id="content"
                    rows="20"
                    placeholder="마크다운(GFM) 형식으로 입력해주세요. 깃허브의 README.md 내용을 붙여넣으면 쉽게 작성할 수 있습니다."
                >{{ post.content }}</textarea>
            </div>
        </div>
        
        <br />
        
        <div class="row justify-content-end">
            <div class="col-md-2 col-sm-4 text-end">
                <label for="file" class="btn btn-secondary">썸네일 업로드</label>
                <input type="file" name="image" class="custom-file-input" id="file" style="display: none" />
            </div>

            <div class="col-md-1 col-sm-3 text-end">
                <input type="submit" value="글쓰기" class="btn btn-outline-primary" />
            </div>
        </div>
    </form>
</div>

{% endblock content %}