{% extends 'community/base.html' %} {% block content %} {% if messages %} 
{% for message in messages%}

<script>
    alert('{{ message }}');
</script>

{% endfor %} {% endif %}

<style>
    h1:not(.disabled), h2:not(.disabled), h3:not(.disabled), h4:not(.disabled), h5:not(.disabled), h6:not(.disabled) {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #D3D3D3;
    font-weight: bold;
    margin-bottom: 20px;
    }
</style>

<br /><br /><br /><br />
<div class="container">
    <div class="ms-5 me-5">
        <div class="row">
            <div class="col-12 mb-5">
                <h1 class="disabled">
                    {{ post.title }}
                </h1>
            </div>
        </div>

        <div class="row">
                
            <div class="col-3">
                <h4 class="disabled mb-3">
            <a href="{% url 'user:other_user_posts' author=post.author.pk %}" style="cursor: pointer; color: black; text-decoration: none;">{{ post.author }}</a> | {{ post.date | date:'Y.m.d' }}
                    </h4>
            </div>
            {% if user == post.author %}
            <div class="col-3 d-flex">
                <form action="{% url 'community:post_edit' pk=post.pk %}">
                    <input type="submit" class="btn btn-outline-success" value="수정" />
                    <input type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete" value="삭제" />
                </form>
                    
            </div>
            
            {% if post.github_address %}
            
            <div class="col-12">
                Github: <a href="{{ post.github_address }}" class="disabled">{{ post.github_address }}</a>
            </div>
            
            {% endif %}
            
            {% endif %}
                
        </div>

        <hr />
        <div class="disabled">
        {{ post.md_to_gfm | safe}}
        </div>
        
        <form action="" method="POST" class="mb-5">
            {% csrf_token %}
            <div class="text-center">
                <button type="submit" class="btn btn-outline-danger" style="font-size: 300%;">
                    ♥ {{ post.like }}
                </button>
            </div>
        </form>

        <div class="row">
            <form
                action="{% url 'community:comment_create' pk=post.pk %}"
                method="POST"
                class="mb-0"
            >
                {% csrf_token %}
                <label for="comment" class="form-label">댓글 {{ comments|length }}</label>
                <textarea
                    class="form-control h-75"
                    id="comment"
                    placeholder="댓글을 입력해주세요."
                    name="content"
                ></textarea>
                <br />
                <input type="submit" class="float-end btn btn-primary" value="댓글 등록" />
            </form>
        </div>

        <br /><br /><br /><br />

        <div class="row">
            
                {% for comment in comments %} 
            <div class="col-12">
                {{ comment.author }} | {{ comment.date | date:'Y.m.d'}} 
                {% if user == comment.author %}
                <form
                    action="{% url 'community:comment_delete' post.pk comment.pk %}"
                    method="POST"
                    class="float-end"
                >
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-danger" value="삭제" />
                </form>
                {% endif %}
                <br />
                <br />
                {{ comment }}
            </div>
            <hr />
            {% endfor %}
        </div>
        <br /><br />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel">게시글 삭제</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          게시글을 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <form action="{% url 'community:post_delete' pk=post.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="삭제" />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}