{% extends 'community/base.html' %} {% block content %}

<br /><br /><br />
<div id="post_list">
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                    ></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img
                            src="/media/community_thumbnail/다운로드.jpeg"
                            class="d-block w-100"
                            style="object-fit: cover; height: 300px;"
                            alt="..."
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                            src="/media/community_thumbnail/다운로드.jpeg"
                            class="d-block w-100"
                            style="object-fit: cover; height: 300px;"
                            alt="..."
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                            src="/media/community_thumbnail/다운로드.jpeg"
                            class="d-block w-100"
                            style="object-fit: cover; height: 300px;"
                            alt="..."
                        />
                    </div>
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row justify-content-between mb-5">
        <div class="col-3">
            <h5 style="font-weight: bold;">🔲&nbsp;
            <a id="latest" style="color: gray;">최신순</a>&nbsp;|
            <a id="likes" style="color: gray;">좋아요순</a>&nbsp;|
            <a id="views" style="color: gray;">조회수순</a>
        </h5>
        </div>
        <div class="col-4">
            <form method="GET" action="{% url 'community:post_list' %}" class="d-flex">
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    name="q"
                    id="q"
                />
                <input class="btn btn-outline-success" type="submit" value="Search" id="submit" />
            </form>
        </div>
    </div>

    <div class="row">
        {% for post in page_obj %}
        <div class="col-4 mb-5">
            <div class="card h-100">
                <div class="media-container">
                    <img
                        src="{{ post.image.url }}"
                        class="card-img-top"
                        style="object-fit: cover; height: 150px;"
                    />
                </div>

                <div class="card-body">
                    <a
                        class="card-title stretched-link"
                        href="{% url 'community:post_detail' pk=post.pk %}"
                       style="font-weight: bold;"
                        >{{ post.title }}</a
                    >

                    <br />
                    <hr />
                    <div class="row">
                        <div class="col-6" style="font-size: small;">
                            {{ post.author }}
                        </div>
                        <div class="col-6 text-end">
                            ♥&nbsp;{{ post.like }} 👁&nbsp;{{ post.hit }} 🗨️&nbsp;{{ post.get_comment_count }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
    
  <ul class="pagination justify-content-center">
      
    <li class="page-item"><a class="page-link">&laquo;</a></li>
      
    {% if page_obj.number == page_obj.paginator.num_pages and page_obj.number|add:-4 > 1 %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:-4 }}</a></li>
    {% endif %}
      
    {% if page_obj.number == page_obj.paginator.num_pages or page_obj.number == page_obj.paginator.num_pages|add:-1 %}
      {% if page_obj.number|add:-3 > 1 %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:-3 }}</a></li>
      {% endif %}
    {% endif %}
      
    {% if page_obj.number|add:-2 >= 1 %}
      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:-2 }}</a></li> 
    {% endif %}
      
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:-1 }}</a></li>
    {% endif %}
      
    
    <li class="page-item active"><a class="page-link">{{ page_obj.number }}</a></li>
    
     
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:1 }}</a></li>
    {% endif %}
    
    {% if page_obj.number|add:2 > page_obj.paginator.num_pages %}
    {% else %}
      <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:2 }}</a></li>
    {% endif %}
      
    {% if page_obj.number == 1 or page_obj.number == 2 %}
        {% if page_obj.number|add:3 <= page_obj.paginator.num_pages %}
                                                                                                              
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:3 }}</a></li>
        {% endif %}
    {% endif %}
      
    {% if page_obj.number == 1 and page_obj.number|add:4 <= page_obj.paginator.num_pages %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|add:4 }}</a></li>
    {% endif %}
      
    <li class="page-item"><a class="page-link">&raquo;</a></li>
      
  </ul>
    
</div>
</div>

<script type="text/javascript">
    var latest = document.getElementById('latest');
    var likes = document.getElementById('likes');
    var views = document.getElementById('views');
    
    if (sessionStorage.getItem('o') == "-like") {
        latest.style.color = 'gray';
        likes.style.color = 'black';
        views.style.color = 'gray';
    }
    
    else if (sessionStorage.getItem('o') == "-hit") {
        latest.style.color = 'gray';
        likes.style.color = 'gray';
        views.style.color = 'black';
    }
    
    else {
        latest.style.color = 'black';
        likes.style.color = 'gray';
        views.style.color = 'gray';
    }
    
    window.onload = function() {
        $.ajax({
            type: 'GET',
            url: "{% url 'community:post_list' %}",
            data: { q: sessionStorage.getItem('query'), ordering: sessionStorage.getItem('o'), page: sessionStorage.getItem('page') },
            success: function (data) {
                $('#post_list').html(data);
            },
        });
    };
    
    $('#submit').click(function () {
        var q = document.getElementById("q").value;

        sessionStorage.setItem('query', q);
    });
    
    $('#brand').click(function () {
        var q = ''
        sessionStorage.setItem('query', q);
    });
    
    $('#latest').click(function () {
        var ordering = "-date";
        
        sessionStorage.setItem('o', ordering);
        
        $.ajax({
            type: 'GET',
            url: "{% url 'community:post_list' %}", // 정렬 뷰의 URL을 여기에 입력
            data: { q: sessionStorage.getItem('query'), ordering: sessionStorage.getItem('o'), page: sessionStorage.getItem('page') }, // 최신순 정렬
            success: function (data) {
                $('#post_list').html(data);
            },
        });
    });

    $('#likes').click(function () {
        var ordering = "-like";
        
        sessionStorage.setItem('o', ordering);
        
        $.ajax({
            type: 'GET',
            url: "{% url 'community:post_list' %}",
            data: { q: sessionStorage.getItem('query'), ordering: sessionStorage.getItem('o'), page: sessionStorage.getItem('page') }, // 좋아요순 정렬
            success: function (data) {
                $('#post_list').html(data);
            },
        });
    });

    $('#views').click(function () {
        var ordering = "-hit";
        
        sessionStorage.setItem('o', ordering);
        
        $.ajax({
            type: 'GET',
            url: "{% url 'community:post_list' %}",
            data: { q: sessionStorage.getItem('query'), ordering: sessionStorage.getItem('o'), page: sessionStorage.getItem('page') }, // 조회수순 정렬
            success: function (data) {
                $('#post_list').html(data);
            },
        });
    });
    
    $('.page-link').click(function () {
        
        var page_num = $(this).text();
        
        if(page_num == '«') page_num = 1
        else if(page_num == '»') page_num = '{{ page_obj.paginator.num_pages }}'
        
        sessionStorage.setItem('page', page_num)
        
        $.ajax({
            type: 'GET',
            url: "{% url 'community:post_list' %}",
            data: { q: sessionStorage.getItem('query'), ordering: sessionStorage.getItem('o'), page: sessionStorage.getItem('page') }, // 조회수순 정렬
            success: function (data) {
                $('#post_list').html(data);
            },
        });
    });

</script>

{% endblock content %}