{% extends 'community/base.html' %} {% block content %}

<style type="text/css">
    a {
        cursor: pointer;
    }
    a:link {
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: black;
        text-decoration: none;
    }
    .card:hover {
        transform: scale(1.05);
    }
</style>

<br /><br /><br /><br /><br />
<div class="container">
    <div class="row mb-5">
        <h3 style="font-weight: 1000;">♥내가 찜한 글</h3>
    </div>
    <div class="row">
        
        {% for post in posts %}
     
        <div class="col-3 mb-5">
            <div class="card h-100">
                <div class="media-container">
                    <img
                        src="{{ post.image.url }}"
                        class="card-img-top"
                        style="object-fit: cover; height: 200px;"
                    />
                </div>

                <div class="card-body">
                    <a
                        class="card-title stretched-link"
                        href="{% url 'community:post_detail' pk=post.pk %}"
                       style="font-weight: bold;"
                        >{{ post.title }}</a
                    >

                    <br />
                    <hr />
                    <div class="row">
                        <div class="col-6" style="font-size: small">
                            {{ post.author }}
                        </div>
                        <div class="col-6 text-end">
                            ♥&nbsp;{{ post.like }}
                            👁&nbsp;{{ post.hit }}
                            🗨️&nbsp;{{ post.get_comment_count }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}